.block{
    border: none;
    padding: 10px 40px;
    font-size: 20px;
    color: #fff;
    background-color: var(--primary-color);
    box-shadow: 0 0 8px 0.5px rgba(0, 0, 0, 0.15);
    border-radius: 55px;
    cursor: pointer;
    transition: transform 0.2s ease-out;
    
}
.block:hover{
    transform: scale(1.1);
}