.item{
    display: flex;
    align-items: center;
    gap: 10px;
}

.label{
    font-size: 19px;
    font-weight: 400;
}

.list, .view{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.view{
    gap: 18px;
}

.list_grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.icon{
    display: none;
    color: var(--alt-color);
    font-size: 20px;
    cursor: pointer;
}
.item:hover .icon{
    display: block;
}
.icon:hover{
    color: var(--error-color);
}
.add{
    margin-top: 10px;
}