.block{
    background-color: #fff;
    border-radius: 55px;
    box-shadow: 0 10px 70px 0 rgb(0 0 0 / 20%);
    padding: 42px 80px;

}
.create{
    display: grid;
    column-gap: 40px;
    row-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
}
.view{
    
}

.view_block{

}
.label{

}
.decsription{
    
}