.block{
    gap: 20px;
}
.body{
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    
}
.checkboxes{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}