.options{
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.25);
    z-index: 1;
    width: 100%;
    gap: 5px;
    padding: 15px 0;
    border-radius: 10px;
}
.optionContent{
    padding: 5px 10px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 5px;
    
}
.option{
    margin: 0 30px;
    border-bottom: 1px solid var(--alt-color);
    
}
.option:last-child{
    border: none;
}
.optionContent:hover{
    background-color: rgba(3, 136, 212, 0.2);
}

.block{
    position: relative;  
}