.icon{
    color: var(--error-color);
    cursor: pointer;
}
.block{
    position: relative;
    
}
.block:hover .message{
    display: block;
}

.message{
    display: none;
    position: absolute;
    background-color: #fff;
    border-radius: 15px;
    padding: 15px;
    top: -10px;
    left: 25px;
    border: 2px solid var(--error-color);
    word-wrap: break-word;
    max-width: 150px;
    font-weight: 500;
    z-index: 1;
    box-shadow: 0 10px 70px 0 rgb(0 0 0 / 20%);
}