.block, 
.view{
    background-color: #fff;
    border-radius: 55px;
    box-shadow: 0 10px 70px 0 rgb(0 0 0 / 20%);
    padding: 42px 80px;
    display: flex;
}
.view{
    justify-content: space-between;
}