
.block{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 800px;
    padding: 20px 15px;
    border-radius: 20px;
    box-shadow: 0 10px 70px 0 rgb(0 0 0 / 20%);
    background-color: #fff;
}
.block i{
    display: flex;
    justify-content: center;
}
.section{
    min-height: 300px;
    display: flex;
    align-items: center;
}
.section > *{
    width: 100%;

}
.form_block{
    box-shadow: 0 10px 70px 0 rgb(0 0 0 / 20%);
    background-color: #fff;
}

.slide{
    /* display: flex; */
}
.actions *{
    color: var(--alt-color);
    cursor: pointer;
}
.actions{
    display: flex;
    align-items: center;
    /* gap: 15px; */
    justify-content: space-between;
    padding: 10px 10px 0 10px;
}

.header{

    border-radius: 20px;
    /* height: 9.5rem; */
    display: flex;
    gap: 80px;
    /* justify-content: space-between; */
    padding: 20px 25px;
    flex-direction: row;
}
.data{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.btns{
    display: flex;
    padding: 10px 20px;
    justify-content: flex-end;

}

.settings{
    display: flex;
    align-items: center;
    gap: 10px;
    border: 2px solid var(--primary-color);
    padding: 6px 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s ease-out;
}

.settings:hover{
    transform: scale(1.1);
    
}
.info{
    color: var(--primary-color);
    font-size: 25px;
}


.label{
    font-size: 26px;
    overflow: hidden;
    width: 750px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.description{
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 750px;
    overflow: hidden;
    flex: 1;
}
.body .main > div,
.body, .slide > div{
    border-radius: 15px;
    padding: 15px;
}

.body .main{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.body{
    column-gap: 20px;
    display: grid;
    grid-template-columns: 1fr 4fr;
}
.type{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.class_code{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 7px;
}
.class_code_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.class_code_header i {
    font-size: 18px;
    cursor: pointer;
    width: 20px;
    text-align: center;
}

.code{
    color: var(--primary-color);
    font-weight: 600;
}
.loading{
    
    /* background-color: ; */
}
