.block {

}
.inputs{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.textarea{
    margin-top: 10px;
}
.actions{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-end;
}