.block{
    background-color: #fff;
    border-radius: 55px;
    box-shadow: 0 10px 70px 0 rgb(0 0 0 / 20%);
    padding: 42px 80px;
    width: 680px;

}
.label{
    margin-bottom: 20px;
}
.creation_mode{
    display: grid;
    column-gap: 40px;
    row-gap: 40px;
    grid-template-columns: repeat(2, 1fr);
}
.footer{
    margin-top: 25px;
    border-top: 2px solid var(--alt-color);
    display: flex;
    padding: 10px 0;
    align-items: center;
    justify-content: flex-end;
}
.footer_btns{
    display: flex;
    gap: 20px;
    padding: 0 10px;
}
.textarea{
    grid-column: 1/-1;
}