.title{
    font-size: 26px;
    font-weight: 500;
    color: var(--primary-color);
}
.block{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.invite_link{
    display: flex;
    align-items: center;
    gap: 20px;
}
.copy{
    color: var(--alt-color);
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
}
.copy:hover{
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    color: var(--primary-color);
}