@import url('./animations/main.css');





.form{
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    padding: 42px 80px;
    margin: 0 auto;
    position: relative;
}

/* ELEMENTS */
/* new */

.form__column-container{
    display: flex;
    flex-direction: column;
}
.form__containter{
    display: flex;
    align-items: center;
    gap: 10px;
}
.form__containter--between{
    justify-content: space-between;
}


/* r */
.form__page-links{
    width: 100%;
    gap: 35px;
    justify-content: end;
    margin-bottom: 30px;
}


.form__inputs{ 
    gap: 40px;
    margin-bottom: 30px;
}
.form__input{
    padding: 0 8px;
    border-bottom: 2px solid var(--alt-color);
    position: relative;
}

.form__input-body{
    padding: 10px 2px;
    font-size: 19px;
}




.form__layer{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 0;
    border-radius: 55px;
    z-index: 1;
    display: none;
}




.form__page-link{
    color: var(--faded-primary);
}

select[data-chosen='placeholder']{
    color: var(--alt-color);
}
option{
    color: #000;
}
.form__input-body input:disabled,
.form__input-body select:disabled{
    background-color: transparent;
}

.form__input-body input, 
.form__input-body select{
    appearance: none;
    outline: none;
    border: none;
    font-size: 19px;
    /* width: 100%; */
    
}

.form__input-body input::placeholder{
    color: var(--alt-color);
    font-size: 19px;
    text-justify: center;
}


.form__input::after{
    content: '';
    left: 50%;
    bottom: -3px;
    height: 2px;
    width: 0%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: var(--primary-color);
}
.form__input--load::after{
    left: 0;
    bottom: -2px;
    transform: none;
    background-color: var(--primary-color);;
    animation: loader 1.4s infinite forwards;
}

.form__input-submit{
    width: 100%;
    margin-bottom: 20px;
    transition: transform 0.2s ease-out;
}
.form__statements{
    margin-bottom: 20px;
}
.form__input-checkbox{
    width: 100%;
}

.form__input-submit:hover{
    transform: scale(1.05);
}


.form__input-icon, .form__text{
    color: var(--alt-color);
}
.form__input-icon{
    font-size: 16px;
}


.form__input-body .form__input-icon:has(+ input:focus),
.form__input-body .form__input-icon:has(+ select:focus){
    animation: input_icon 0.3s linear forwards;

    /* fill: var(--primary-color);  */
}
.form__input:has(input:focus)::after,
.form__input:has(select:focus)::after{
    animation: input_border 0.3s ease-in-out forwards;

    /* border-color: var(--primary-color); */
}
.form__confim_password{
    gap: 40px;
}

.form__input-checkbox .form__input-body::before{
    content: '';
    width: 18px;
    height: 18px;
    background-color: #fff;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    box-shadow: 0 0 8px 0.5px rgba(0, 0, 0, 0.15);
}

.form__input-checkbox input:checked + .form__show-password path{
    fill: var(--primary-color);
}


.form__input-checkbox label{
    color: var(--alt-color);
    font-size: 16px;
    cursor: pointer;
}


.form__input-submit label{
    display: flex;
    text-transform: uppercase;
    letter-spacing: 3px;
    justify-content: center;
    background-color: var(--primary-color);
    color: #fff;
    width: 100%;
    border-radius: 55px;
    padding: 18px 0;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.25);
    
}
.form__input-checkbox input:checked + label::before{
    background-color: var(--primary-color);
}


.form__input > .form__input-icon{
    cursor: pointer;
}
.form__signup-text{
    font-size: 16px;
}
.form__signup{
    width: 100%;
    margin-top: 30px;
}
.form__signup-link path{
    fill: var(--alt-color);
}
/* .form__signup-link:hover path{
    fill: ;
} */

/* MODIFICATORS */

.form__input--error{
    border-color: var(--error-color);
}

.form__input--error .form__input-body .form__input-icon{
    fill: var(--error-color);
}
.form__page-link--choosen{
    color: var(--primary-color);
}
.form__containter--space{
    justify-content: space-between;
}