.block{
    padding: 20px;
}
.name{
    color: var(--primary-color);
}
.header{
    padding: 0 10px 30px 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.passed_test{
    min-height: 300px;
}
.passed_tests{
    font-size: 20px;
}
.class_info{
    display: flex;
    align-items: center;
    gap: 10px;
}

.class_info span{
    color: var(--primary-color);
}
.status{
    padding: 3px 5px;
    color: #fff;
    font-size: 14px;
    border-radius: 10px;
}
.perfect{
    background-color: var(--success-color);
}
.great{
    background-color: #18b126;
}
.normal{
    background-color: #6e9d22;
}
.middle{
    background-color: #9d9922;
}
.bad{
    background-color: #974a25;
}

