.text{
    color: var(--gray-color);
}
.inputs{ 
    margin-bottom: 40px;
}
.statements{
    margin-bottom: 20px
}
.submit{
    margin-bottom: 20px;
    width: 100%;
}
.login{
    gap: 10px;
    justify-content: center;
}
.links{
    margin-bottom: 30px;
}
.lisence{
    
}