.body{
    display: flex;
    justify-content: center;
    gap: 15px;
    
}
.item{
    padding: 10px 15px;
    border-radius: 10px 10px 0 0;
}
.item label{
    font-weight: 500;
    cursor: pointer;
}
.item:has(input:checked){
    background-color: #bbe6ff;
    border-bottom: 2px solid rgb(24,90,188);

}
.item:has(input:checked) label{
    color: rgb(24,90,188);
}

.block{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 800px;
    padding: 20px 15px;
    border-radius: 20px;
    box-shadow: 0 10px 70px 0 rgb(0 0 0 / 20%);
    background-color: #fff;
    min-height: 300px;
    outline: none;
}
.block i{
    display: flex;
    justify-content: center;
}
.section{
    min-height: 300px;
    display: flex;
    align-items: center;
}
.section > *{
    width: 100%;
    height: 100%;
}