.block{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 35px;
    margin-bottom: 30px;
    justify-content: flex-end;
}
.link{
    color: var(--faded-primary);
    cursor: pointer;
}
.choosen{
    color: var(--primary-color);
}