.block, .label{
    display: flex;
    align-items: center;
    
}
.body{
    flex: 1;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.empty{
    text-align: center;
    color: var(--alt-color);
}
.list{
    padding: 20px 0 5px  0;
}
.label{
    gap: 10px;
}
.label h3{
    font-size: 18px;
    font-weight: 500;
}
.icon{
    display: flex;
    justify-content: center;
    width: 20px;
    color: var(--primary-color);
}