/* BLOCK */
.navigation{

}
/* ELEMENTS */

.navigation__link{
    display: flex;
    align-items: center;
    gap: 10px;
}

.navigation__link-text{
    font-size: 18px;
}
.navigation__username .navigation__link-text{
    font-weight: 500;
}
.navigation__username{
    cursor: pointer;
}
/* MODIFICATORS */  