@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&family=Ubuntu:wght@300;400;500;700&display=swap');



:root{
  --primary-color: #0388D4;
  --alt-color: #B6B2B1;
  --error-color: #D61414;
  --faded-primary: #75B8DF;
}

#root{
  background-image: url('../public/media/background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100%
}

.page__section{
  display: flex;
  align-items: center;
}

.page-root{
  display: flex;
  flex-direction: column;
}
html, body, .page-root{
  height: 100%
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu';
}


a{
  text-decoration: none;
  color: #fff;
}