.inputs{ 
    margin: 40px 0;
}
.ads{
    width: 100%;
    justify-content: space-between;
}

.submit{
    margin-bottom: 40px;
    width: 100%;
}
.messagers{
    gap: 10px;
}
.signup{
    width: 100%;
    margin-top: 30px;
    gap: 10px;
    justify-content: space-between;
}
.links{
    margin-bottom: 30px;
}
