@keyframes time {

    50% {
        background-color: var(--primary-color);
    }

    60% {
        background-color: rgb(240, 167, 32);
    }

    100% {
        width: 100%;
        background-color: var(--error-color);
    }

}

.isCorrect-true {
    border: 1px solid var(--success-color);
}

.isCorrect-false {
    border: 1px solid var(--error-color);
}

.mode-pass {
    overflow: hidden;
}

.block {
    display: flex;
    flex-direction: column;
    gap: 38px;
    padding: 42px 80px;
    position: relative;
    width: 680px;
    /* !!! */
    min-height: 225px;

    background-color: #fff;
    border-radius: 55px;
    box-shadow: 0 10px 70px 0 rgb(0 0 0 / 20%);
}

.btns {
    display: flex;
    gap: 20px;
}

.time_line {
    content: '';
    width: 0;
    height: 8px;
    background-color: var(--primary-color);
    position: absolute;
    top: 0;
    left: 0;
    /* animation-iteration-count: 1;
    animation-name: time;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
     */
}

.label {
    font-weight: 500;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 10px 70px 0 rgb(0 0 0 / 20%);
    position: absolute;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #fff;
    right: -260px;
    width: 300px;
}

.header {
    /* display: flex; */
    /* justify-content: space-between; */
}

.answer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
}


.answer_options {
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 320px;
}

.body {
    display: flex;
    justify-content: space-between;
    flex: 1;
    /* flex-direction: column;
    gap: 25px;
    width: 100%; */
}

.time {
    width: 315px;
}

.time_view {
    display: flex;
    align-items: center;
    gap: 5px;
    font-style: italic;
    color: var(--alt-color);
}

.photos {
    /* max-width: 678px; */
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    gap: 15px;
    width: 100%;
}

.footer {
    border-top: 2px solid var(--alt-color);
    width: 100%;
    padding: 15px 0 0 0;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;
}

.actions {
    display: flex;
    gap: 20px;
}

.action {
    cursor: pointer;
}

.delete:hover {
    color: var(--error-color);
}

.copy:hover {
    color: var(--success-color);
}

.seporator {
    background-color: var(--alt-color);
    width: 2px;
    height: 25px;
}

.icon {
    color: var(--alt-color);
    font-size: 22px;
}

.menu {
    display: flex;
    justify-content: center;
    opacity: 0;
    position: absolute;
    padding: 30px;
    top: 50%;
    transform: translate(0, -50%);
    right: -120px;
}

.required {
    font-style: italic;
    color: var(--alt-color);
}

.required_true {
    color: var(--success-color);
}

.block:hover .menu {
    opacity: 50%;
}

.block:hover .menu:hover {
    opacity: 1;
}

.menu {
    opacity: 0;
    position: absolute;
    padding: 30px;
    top: 50%;
    transform: translate(0, -50%);
    right: -120px;
}

.type {
    font-size: 17px;
    font-weight: 300;
    font-style: italic;
    padding-right: 10px;
}
.type_block{
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
}
.type_block > p {
    font-weight: 500;
}
.viewTime h5{
    font-size: 14px;
}
.viewTime{
    display: flex;
    align-items: center;
    gap: 5px;
}