.block{
    box-shadow: 0 10px 30px rgba(10, 59, 82, 0.20);
    padding: 15px 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 6rem;
    transition: height 0.2s linear;
    border-radius: 15px;
    cursor: pointer;
    overflow: hidden;
}
.title{
    font-size: 18px;
    color: #606061;
    font-weight: 500;
}
.header{

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.description{
    color: #79797a;
    white-space: nowrap;
    width: 100%;
    font-size: 14px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}
.question_count{
    font-size: 14px;
    margin-right: 5px;
    color: #606061;
    font-weight: 500;
}
.body{
    flex: 1;
}
.footer{
    display: none;
}
.open-true .description{
    white-space: normal;
}
.open-true .footer{
    display: flex;
    justify-content: space-between;
}
.open-true{
    height: 11.5rem;
}
.ed{
    display: flex;
}
