.block{
    margin: 0 30px;
    border-bottom: 1px solid var(--alt-color);
}

.block:last-child{
    border: none;
}

.body{
    padding: 5px 10px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 5px;
}
.body:hover{
    background-color: rgba(3, 136, 212, 0.2);
}