.body{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}

.block > *{
    color: var(--primary-color);
}
.block{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.icon{
    font-size: 26px;
}