@keyframes rotation {
    to{
        transform: rotate(360deg);
    }
}


.block{
    width: 320px;
    height: 320px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    user-select: none;
    background-color: #fff;
    border-radius: 55px;
    box-shadow: 0 10px 70px 0 rgb(0 0 0 / 20%);
}
.header{
    height: 100px;
    padding: 0 40px;
    font-size: 24px;
}
.isActive--true{
    cursor: pointer;
}
.isActive--false{
    
}


.label{
    width: 170px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #fff;
    font-size: 26px;
    font-weight: 500;
    margin-top: 45px;
}
.apply{
    color: #fff;
    font-size: 28px;
    cursor: pointer;
}



.input{
    /* width: 200px; */
}
.edit_layer{
    
    overflow: hidden;
    margin-top: 33px;
    display: flex;
    gap: 25px;
    align-items: center;
}
.icon{
    position: absolute;
    right: 20px;
    bottom: 210px;
    color: #fff;
    font-size: 65px;
    transform: scale(-1,1);
}
.events{
    display: flex;
    flex-direction: column;
    padding: 30px 20px 0 20px;
    gap: 10px;
    flex: 1;
}
.footer{
    border-top: 3px solid var(--alt-color);
    margin: 0 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    padding: 15px 10px;
}
.action{
    width: 20px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    position: relative;
    align-items: center;
}
.action i {
    color: var(--alt-color);
    font-size: 22px;
}
.action:hover i{
    color: var(--primary-color);
}
.loader{
    color: var(--faded-primary);
    font-size: 20px;
    position: absolute;
    left: 40px;
    bottom: 18px;   
    animation: infinite 1s rotation;
}
