.block{
    display: flex;
    justify-content: space-between;
}
.body{
    display: flex;
    gap: 10px;
    width: 220px;
}
.time{
    color: var(--alt-color);
}
.label{
    font-weight: 400;
    max-width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.link{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}