.size_1 .icon{
    font-size: 16px;
}

.size_1 .text{
    font-size: 18px;
}

.size_1{
    padding: 20px 30px;
}




.size_2 .icon{
    font-size: 14px;
}

.size_2 .text{
    font-size: 16px;
}

.size_2{
    padding: 16px 25px;
}




.block{
    position: absolute;
    list-style: none;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    gap: 5px;
    z-index: 1;
    background-color: #fff;
    box-shadow: 0 10px 70px 0 rgb(0 0 0 / 20%);
}
.item{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    user-select: none;
}
.icon{
    color: var(--alt-color);
    width: 20px;
}
.text{
    color: var(--alt-color);
}

.item:hover .icon,
.item:hover .text{
    color: var(--primary-color);
}