.block{
    display: flex;
    flex-direction: column;
    gap: 5px;
    box-shadow: 0 10px 70px 0 rgb(0 0 0 / 20%);
    padding: 20px;
    border-radius: 10px;   
    cursor: pointer;
}

.good .value{
    color: var(--success-color);
}
.normal .value{
    color: var(--alt-color);
}
.bad .value{
    color: var(--error-color);
}
.value{
    font-size: 20px;
}
