.icon i{
    color: #fff;

    font-size: 20px;
}
.icon{
    background-color: rgba(0, 0, 0, 0.24);
    padding: 6px;
    height: 28px;
    width: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 10px 30px rgb(0 0 0 / 30%);
}
.header{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 20px;
    
}
.heading, .ending{
    display: flex;
    align-items: center;
    gap: 20px;
}
.header:hover{
    background-color: #bbe6ff;
}
.header:hover .icon{
    background-color: var(--primary-color);
}
.title{
    font-weight: 500;
    color: #3c4043;
    font-size: 16px;
    max-width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    
}
.deadline{
    color: #1ad92c !important;
    padding-right: 20px;
    text-align: end;
}
.time{
    color: rgba(0, 0, 0, 0.4);
    font-size: 14px;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}
.header:hover .menu{
    opacity: 1;
}
.menu{
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.menu:hover{
    color: #3c4043;
    background-color: rgba(0, 0, 0, 0.1);
}
.body{
    height: 0px;   
    transition: height .2s linear;
    flex-direction: column;
    overflow: hidden;
    display: flex;
}
.block{
    border-radius: 20px;
}
.main{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.isOpen-true{
    margin: 15px 0;
    box-shadow: 0 10px 30px rgb(0 0 0 / 20%);
}   
.isOpen-true .body{

    height: 30vh;
    padding: 10px 20px 0 20px;
}
.isOpen-true .header{
    background-color: #bbe6ff;
    border-radius: 20px 20px 0 0;
    border-bottom: 1px solid rgb(0 0 0 / 10%);
}
.isOpen-true .header .icon{
    background-color: var(--primary-color);
    
}
.footer{
    padding: 20px 0;
    display: flex;
    gap: 20px;
}
/* .border{
    border: 1px solid rgb(0 0 0 / 10%);
} */