.block {
    position: relative;
}
.block:hover > *:last-child{
    display: block;
}

.block > *:last-child{
    position: absolute;
    width: 120px;
    background-color: var(--light-color);
    border-width: 1px;
    border-style: solid;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 14px;
    left: -10px;
    top: 140%;
    z-index: 1;
    display: none;
}