.text{
    font-size: 15px;
    color: var(--primary-color);
    font-weight: 500;
}

.block{
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}
.icon{
    color: var(--primary-color);
    font-size: 16px;
}

.primary {

}