.empty{
    font-size: 60px;
    color: var(--primary-color);
    position: relative;   
    
}

img{
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    
}

.avatar{
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
}

.avatar img{
    width: 100%;
}
.block{
    display: flex;
    justify-content: center;
}