




.block{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.data{
    width: 100%;
}
.data_item{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.label{
    margin-bottom: 20px;
}
.title{
    font-size: 16px;
    font-weight: 500;
}
.decspiption{
    
}