.avatar{
    border-radius: 50%;
    user-select: none;
    height: 36px;
    width: 36px;
}
.body, .name, .block{
    display: flex;
    align-items: center;
}
.body{
    gap: 20px;
    
}
.block{
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    justify-content: space-between;
}
.block:last-child{
    border: none;
    
}
.name{
    gap: 5px;
    
}
.name *{
    font-weight: 500;
    color: #3c4043;
    font-size: 14px;
}
.block:hover .actions{
    display: flex;
}
.actions{
    display: none;
}