.block{
    box-shadow: 0 10px 20px 8px rgba(0, 0, 0, 15%);
    padding: 15px 22px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}



.icon{
    color: var(--primary-color);
    font-size: 44px;
    display: flex;
    justify-content: center;
}

.footer{
    display: flex;
    align-items: center;
    gap: 20px;
    flex: 1;
}
.name{
    color: black;
    font-size: 16px;
    font-weight: 400;
}
.menu{
    color: black;
    cursor: pointer;
    font-size: 14px;
}
