@keyframes rotate {
    from{
        transform: rotate(0deg) ;
        
    }
    to {
        transform: rotate(360deg);
    }
}


.block{
    transition: transform 0.2s ease-out;
    position: relative;
}


.block:hover{
    transform: scale(1.05);
}

.block label{
    display: flex;
    text-transform: uppercase;
    letter-spacing: 3px;
    justify-content: center;
    background-color: var(--primary-color);
    color: #fff;

    width: 100%;
    border-radius: 55px;
    padding: 18px 0;
    height: 24px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.25);
    
}
.loader{
    font-size: 26px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    /* position: absolute; */
    top: 0;
    color: #fff;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    animation: rotate 0.9s linear infinite;
}