.column{
    flex-direction: column;
}

.block{
    box-shadow: 0 10px 70px 0 var(--dark-op20-color);    
    background-color: var(--light-color);
    position: relative;
}

.box_size_1{
    border-radius: 55px;
    padding: 42px 80px;
}

.flex{
    display: flex;
} 

.mb_40{
    margin-bottom: 40px;
}
.mt_40{
    margin-top: 40px;
}
.g_40{
    gap: 40px;
}

.inputs{ 
    min-width: 310px;
}
