.block{
    justify-items: center;
    flex-direction: column;
    margin: 0 auto;
    position: relative;
    background-color: var(--light-color);
    border-radius: 55px;
    box-shadow: 0 10px 70px 0 var(--dark-op20-color);
}


.pad_1{
    padding: 42px 80px;
}

.text{
    font-size: 16px;
    color: var(--alt-color);
}


.inputs{ 
    min-width: 310px;
    gap: 40px;
    display: flex;
    flex-direction: column;
}
.flex{
    display: flex;
    align-items: center;
} 
/* .links{
    width: 100%;
    gap: 35px;
    justify-content: end;
} */
