/* course: https://techrocks.ru/2022/01/11/pie-chart-in-pure-css-and-html/ */


@property --p {
    syntax: '<number>';
    inherits: true;
    initial-value: 0;
}

.block {
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 5px;

}


.text {
    width: 150px;
    font-weight: 500;
    text-align: center;
    font-size: 15px;
}

.diagram {
    --p: 20;
    --b: 16px;
    --c: var(--primary-color);
    --w: 150px;

    width: var(--w);
    aspect-ratio: 1;
    position: relative;
    display: inline-grid;
    margin: 5px;
    place-content: center;
    font-size: 25px;
    font-weight: bold;
    font-family: sans-serif;
}

.diagram:before,
.diagram:after {
    content: "";
    position: absolute;
    border-radius: 50%;
}

.diagram:before {
    inset: 0;
    background:
        radial-gradient(farthest-side, var(--c) 98%, #0000) top/var(--b) var(--b) no-repeat,
        conic-gradient(var(--c) calc(var(--p)*1%), #0000 0);
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(99% - var(--b)), #000 calc(100% - var(--b)));
    mask: radial-gradient(farthest-side, #0000 calc(99% - var(--b)), #000 calc(100% - var(--b)));
}

.diagram:after {
    inset: calc(50% - var(--b)/2);
    background: var(--c);
    transform: rotate(calc(var(--p)*3.6deg)) translateY(calc(55% - var(--w)/2));
}

.animate {
    animation: p 1s 0s both;
}

.no-round:before {
    background-size: 0 0, auto;
}

.no-round:after {
    content: none;
}

@keyframes p {
    from {
        --p: 0
    }
}