.block{
    cursor: pointer;
    display: flex;
    gap: 8px;
    align-items: center;
}
.icon{
    color: #fff;
    font-size: 22px;   
}
.text{
    color: #fff;
    font-size: 18px; 
}
.block{
    user-select: none;
}