@keyframes render {
    0% {
        stroke-dasharray: 0 100;
    }
}



.unit {
    fill: none;
    stroke-width: 8;
    cursor: pointer;
    animation-name: render;
    animation-duration: 1s;
    transition-property: all;
    transition-duration: .4s;
}

.block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.unit:hover {
    opacity: 0.8;
    stroke-width: 9;
}



.titles_list {
    display: grid;
    max-width: 100%;
    row-gap: 5px;
    column-gap: 70px;
    grid-template-columns: auto auto;
}

.title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.title .text {
    font-weight: 500;
    font-size: 14px;
}

.title .color {
    width: 15px;
    border-radius: 50%;
    height: 15px;
}