.block:hover{
    color: var(--primary-color);
}

.block{
    color: var(--alt-color);
    cursor: pointer;
}
.fs24{
    font-size: 24px;
}
.fs28{
    font-size: 28px;
}
.isChecked-true{
    color: var(--primary-color);
}