.text{
    font-size: 15px;
    display: flex;
    align-items: center;
    font-weight: 500;
    gap: 8px;
}

.block{
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 10px;
    
    transition: background-color 0.1s linear;

}
.icon{
    font-size: 16px;
}

.compact-true .text span{
    display: none;

    
    
}
.compact-true:hover .text span{
    display: block;
}


.default .text,
.default .icon{
    color: var(--primary-color);
}
.default:hover{
    background-color: #d5f0ff;
}
.error .text,
.error .icon{
    color: var(--error-color);
}
.error:hover{
    background-color: #ffdcdc;
}
.disabled-true:hover{
    background-color: transparent
}
.disabled-true .text,
.disabled-true .icon{
    color: var(--alt-color);
}