.block{
    display: flex;
    text-transform: uppercase;
    justify-content: center;
    background-color: var(--primary-color);
    color: #fff;
    transition: transform 0.2s ease-out;
    position: relative;    
    width: 100%;
    border-radius: 55px;
    cursor: pointer;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.25);
    border: none;
}
.disabled-true{
    background-color: var(--alt-color);
}

.size-1{
    padding: 18px 0;
    font-size: 20px;
    letter-spacing: 3px;
}
.size-2{
    padding: 10px 25px;
    gap: 5px;
    font-size: 15px;
    letter-spacing: 2px;
}

.block:hover{
    transform: scale(1.05);
}
