.default {
    --self-color: var(--primary-color);
}

.correct {
    --self-color: var(--success-color);
}

.error {
    --self-color: var(--error-color);
}

.disabled {
    --self-color: var(--alt-color);
}

.hasError {
    --self-color: var(--error-color);
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
    background-color: var(--light-color);
    box-shadow: 0 0 8px 0.5px var(--dark-op15-color);
}

.block .icon {
    border: 2px solid var(--self-color);
}

.button{
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block:has(input:checked) .icon {
    background-color: var(--self-color);
}


.checkbox .icon{
    border-radius: 5px;
}

.circle .icon{
    border-radius: 50%;
    width: 24px;
    height: 24px;
}


.body {
    display: flex;
    user-select: none;
    cursor: pointer;
    gap: 10px;
    align-items: center;
}