
.checkbox{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    background-color: var(--light-color);
    border-radius: 5px;
    box-shadow: 0 0 8px 0.5px var(--dark-op15-color);
}
.style-default .checkbox{ 
    border: 2px solid var(--primary-color);
}
.style-default:has(input:checked) .checkbox{
    background-color: var(--primary-color);
}

.style-correct .checkbox{
    border: 2px solid var(--success-color);
}
.style-correct:has(input:checked) .checkbox{
    background-color: var(--success-color);
}
.style-error .checkbox{
    border: 2px solid var(--error-color);
}
.style-error:has(input:checked) .checkbox{
    background-color: var(--error-color);
}
.style-disabled .checkbox{
    border: 2px solid var(--alt-color);
}
.style-disabled:has(input:checked) .checkbox{
    background-color: var(--alt-color);
}


.body{
    display: flex;
    user-select: none;
    cursor: pointer;
    gap: 10px;
    align-items: center;
}
