@keyframes input_border {
    to {
        width: 100%;
    }
}

@keyframes input_icon {

    to {
        color: var(--self-color);
    }
}


.default {
    --self-color: var(--primary-color);
    --inactive-color: var(--gray-color);
    --placeholder-color: rgba(0, 0, 0, .3);
    --input-color: #000;
}

.light {
    --self-color: #fff;
    --inactive-color: #fff;
    --placeholder-color: rgba(0, 0, 0, .3);
    --input-color: #fff;
}

.error {
    --self-color: var(--error-color);
    --inactive-color: var(--error-color);
    --placeholder-color: var(--error-color);
    --input-color: #000;
}
.correct{
    --self-color: var(--success-color);
    --inactive-color: var(--success-color);
    --placeholder-color: var(--success-color);
    --input-color: #000;
}



.main {
    padding: 0 8px;
    border-bottom: 2px solid var(--inactive-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    min-height: 45px;

}

.readOnly {
    border: none;
}


.label {
    color: var(--input-color);
    font-size: 26px;
    font-weight: 500;
}

.hasError {
    --self-color: var(--error-color)
}

.inputWrapper {
    position: relative;
    flex: 1;
}

.main::after {
    content: '';
    left: 50%;
    bottom: -3px;
    height: 2px;
    width: 0%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: var(--self-color);
}

.body {
    padding: 10px 2px;
    font-size: 19px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.placeholder {
    position: absolute;
    top: -1px;
    left: 0;
    color: var(--placeholder-color);
    font-weight: 500;
    transition: top 0.2s linear;
    transition: font-size 0.2s linear;
    cursor: text;
    user-select: none;
}

.body input {
    appearance: none;
    outline: none;
    border: none;
    font-size: 18px;
    background: transparent;
    width: 100%;
    color: var(--input-color);
}

.body input:-webkit-autofill,
.body input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}

.body input:disabled {
    background-color: transparent;
    color: #000;
}

.icon {
    color: var(--inactive-color);
}

.form__input>.icon {
    cursor: pointer;
}

.body:has(input:focus) .placeholder {
    font-size: 12px;
    color: var(--self-color);
    top: -17px;
}

.body:not(:has(input[value=""])) .placeholder {
    font-size: 12px;
    top: -17px;
}

.body:has(input:focus) .icon {
    animation: input_icon 0.3s linear forwards;
}

.main:has(input:focus)::after {
    animation: input_border 0.3s ease-in-out forwards;
}

.notices {
    display: flex;
    gap: 5px;
    user-select: none;
}

/* .error {
    width: 100%;
    margin-top: 0.25rem;
    font-size: .875em;
    color: var(--self-color);
    height: 15px;
    margin-left: 30px;
    overflow: hidden;
} */

/* .main:has(input:disabled){
    background-color: #e9ecef;
} */
/* .main:has(input:disabled) .placeholder{
    color: var(--self-color);
} */