.heading{
    
    /* border-bottom: 2px solid rgb(36, 105, 207); */
    padding: 0 20px 10px 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.heading .text{
    color: rgb(36, 105, 207);
    font-weight: 400;
}
.heading  .title{
    font-size: 1.5rem;
}
.cutom .inputs{
    margin: 30px 0;
    row-gap: 50px;
    column-gap: 50px;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.textarea{
    grid-column: 1/-1;
}
.block{
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}
.actions{
    
    display: flex;
    margin-top: 5px;
    justify-content: flex-end;
}
.invites, .additionally{
    padding: 20px;
    display: flex;
    
    flex-direction: column;
    gap: 35px
}


.invite_link{
    display: flex;

    align-items: flex-start;
    position: relative;
    justify-content: space-between;
}
.invite_code{
    display: flex;
    align-items: center;
    gap: 20px;
}
.invite_code span{
    font-size: 18px;
    font-weight: 500;
    color: var(--primary-color);
}

.invite_link .label{
    margin-top: 15px;
}

.label{
    color: #3c4043;
    font-weight: 500;
    
}
.submit{
    display: flex;
    margin-right: 20px;
}
.submit{
    display: flex;
    margin-top: 20px;
    justify-content: flex-end;
}
.sections > *{
    border-radius: 20px;
    padding: 10px  ;
    border: 1px solid rgba(0, 0, 0, .25);
}
.sections{
    display: flex;
    flex-direction: column;
    gap: 40px;
    /* salign-items: center; */
}
.input{
    width: 400px;
}