.block{

}
.color{
    display: block;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.checked{
    display: none;
    font-size: 20px;
    color: #fff;
}

.input:checked + .color .checked{

    display: block;
}
